.welcome-container {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #fd5aba;
  @media screen and (min-width: 768px) {
    margin-top: 100px;
    color: white;
  }
}


.home {
  background-image: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  @media screen and (min-width: 768px) {
    background-size: cover;
    background-position: center;
  }


  &__title {
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
  }
  &__text {
    text-align: center;
  }
  &__button {
    width: 150px;
    height: 60px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #97d8df;
    border: 2px solid black;
    text-decoration: none;
    color: #fd5aba;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
  }
}

.home__title.team-name {
  text-shadow: 8px 8px 10px rgba(20, 73, 67, 0.7);
}

.autor-project {
  background-color: hotpink;
  border: 2px solid black;
  color: #3e3e3e;
  justify-content: center;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: 250px;
  @media screen and (min-width: 768px) {
    max-width: 40%;
  }
}

.team-name {
  text-shadow: 2px 2px 4px lightblue;
}

.home__button {
  align-self: center;
}

.home__button:hover {
  background-color: #fd5aba;
  color: #97d8df;
}
.home__button--link:hover {
  color: #97d8df;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding-bottom: 100px;
}

.image {
    object-fit: cover;
      border-radius: 50%;
      width: 80px;
      height: 80px;
    
      border: cadetblue solid 2px;
    
      @media screen and (min-width: 768px) {
        width: 120px;
        height: 120px;
      }
  //width: 400px;
  //height: 150px;
  // border-radius: 20px;
  //padding: 10px;
  // border: 3px solid black;
}

.info-project {
    width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  // width: 50%;
  // padding: 10px;
  // @media screen and (min-width: 768px) {
  //   text-align: center;
  //   //padding: 20px;
  // }
}

.authorSection {
  background-color: #9fd1cc;
  color: #3e3e3e;
  border: cadetblue solid 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
  min-height: 20vh;
  width: 300px;
  // transform: translateY(-190px);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  padding: 15px;
  
    @media screen and (min-width: 768px) {
      /* transform: translateY(-200px);*/
      width: 500px;}
  // min-width: 250px;
  // display: flex;
  // flex-direction: row-reverse;
  // background-color: plum;
  // border-radius: 20px;
  &__project {
      width: 60%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

    &--subtitle {
        font-size: 9px;
          margin: 0;
          text-align: center;
        
          @media screen and (min-width: 768px) {
            font-size: 18px;
          }
      // font-size: 14px;
    }

    &--title {
      font-size: 9px;
        color: black;
        text-align: center;
      
        /* margin-bottom: 10px; */
        @media screen and (min-width: 1024px) {
          font-size: 16px;
          margin-top: 8px;
        }
    }

    &-slogan {
        font-size: 9px;
          /* margin-bottom: 10px; */
          text-align: center;
        
          @media screen and (min-width: 1024px) {
            font-size: 16px;
          }
    }

    &--desc {
        font-size: 9px;
          padding: 10px;
        
          /* margin-bottom: 10px; */
          @media screen and (min-width: 1024px) {
            font-size: 16px;
          }
    }
    &--technologies {
      background-color: cadetblue;
        border-radius: 20px;
        font-size: 9px;
        padding: 10px;
        // max-width: 90%;
        text-align: center;
      // background-color: #97d8df;
      // border-radius: 10px;
      // color: white;
      // padding: 4px;
    }
    &--text {
      color: white;
        font-size: 9px;
        /* letter-spacing: 1px; */
        text-align: center;
      
        /* padding-top: 5px; */
        @media screen and (min-width: 1024px) {
          font-size: 14px;
        }
      // text-align: center;
    }
    &--name {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
          // align-self: center;
      // text-align: center;
      // width: 40%;
    }
    &--image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px solid #427075;
      margin: 20px;
    }
    &--job{
      font-weight: 800;
    }
    &--jobName{
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
