.welcome-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: rgba(#fd5aba, 0.5);
  padding: 5px;
}

.home {
  // margin: 0;
  // width: 100vw;
  // height: 100vh;
  background-image: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  // background-size:auto;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &__title {
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
    
  }
  &__text {
    text-align: center;
  }
  &__button {
    width: 150px;
    height: 60px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #97d8df;
    border: 2px solid black;
    text-decoration: none;
    color: #fd5aba;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
  }
}



.autor-project {
    background-color: #97d8df;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    color: #3e3e3e;

  }

.team-name {
  text-shadow: 2px 2px 4px lightblue;
}

.home__button {
  align-self: center;
}

.home__button:hover {
  background-color: #fd5aba;
  color: #97d8df;
}
.home__button--link:hover {
  color: #97d8df;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding-bottom: 100px;
}

.image {
  width: 100px;
  height: 100px;;
  padding: 5px;
}

.info-project {
  max-width: 70%; 
  
}


