.welcome-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fd5aba;
}

.home {
  // margin: 0;
  // width: 100vw;
  // height: 100vh;
  background-image: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  &__title {
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
  }
  &__text {
    text-align: center;
  }
  &__button {
    width: 150px;
    height: 60px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #97d8df;
    border: 2px solid black;
    text-decoration: none;
    color: #fd5aba;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
  }
}

.autor-project {
  background-color: hotpink;
  border: 2px solid black;
  color: #3e3e3e;
  justify-content: center;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: 250px;
  @media screen and (min-width: 768px) {
    max-width: 40%;
  }
}

.team-name {
  text-shadow: 2px 2px 4px lightblue;
}

.home__button {
  align-self: center;
  width: 180px;
}

.home__button:hover {
  background-color: #fd5aba;
  color: #97d8df;
}
.home__button--link:hover {
  color: #97d8df;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding-bottom: 100px;
}

.image {
  //width: 400px;
  //height: 150px;
  border-radius: 20px;
  //padding: 10px;
  border: 3px solid black;
}

.info-project {
  width: 50%;
  padding: 10px;
  @media screen and (min-width: 768px) {
    text-align: center;
    //padding: 20px;
  }
}

.authorSection {
  min-width: 250px;
  display: flex;
  flex-direction: row-reverse;
  background-color: plum;
  border-radius: 20px;
  &__project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    width: 60%;

    &--subtitle {
      font-size: 14px;
    }

    &--title {
    }

    &-slogan {
    }

    &--desc {
    }
    &--technologies {
      background-color: #97d8df;
      border-radius: 10px;
      color: white;
      padding: 4px;
    }
    &--text {
      text-align: center;
    }
    &--name {
      text-align: center;
      width: 40%;
    }
    &--image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px solid #427075;
      margin: 20px;
    }
    &--job{
      font-weight: 800;
    }
    &--jobName{
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}
